span.math {
    font-family: 'Courgette', cursive;
    font-size: large;
    text-justify: auto;
    text-align: center;
}

h2 {
    font-family: 'Kaushan Script', cursive;
}

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}